{% extends 'base.html' %}

{% block title %}
Eshop Products
{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- category -->
        <div class="col-lg-2">
            <a class="list-group-item" href="">All Products</a>
            {% for category in category %}
            <a class="list-group-item" href="">{{category.name}}</a>
            {% endfor %}
        </div>
        <!-- product -->
        <div class="col-lg-10 mx-auto">
            
            <div class="row">
               {% for p in products %} 
                <div class="card mx-auto" style="width: 18rem;">
                    <img height="300px" class="card-img-top" src="/{{p.photo}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{p.name}}</h5>
                        <p class="card-text">{{p.price}} Taka</p>
                        <p class="card-text">{{p.category}}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}