{% extends 'base.html' %}

{% block title %}
Eshop Product Details
{% endblock title %}

{% block content %}

<div class="card mx-auto" style="width: 18rem;">

    <img height="300px" class="card-img-top" src="/{{product.photo}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Category: {{product.category}}</li>
      <li class="list-group-item">Price: {{product.price}}</li>
      <li class="list-group-item">Quantity: {{product.quantity}}</li>
      <li class="list-group-item">Unit Type: {{product.unit_type}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

{% endblock content %}